section{
    background-color: lightblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
textarea{
    margin: auto;
    width: 800px;
    display: block;
  
}
input{
    height: 300px;
    text-align:left;
    vertical-align:text-top;
  
}

h1{
    text-align: center;
    margin-bottom: 50px;
    display: block;
}

.contenido{

    justify-content: center;
    align-items: center;
}

button{
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.volver{
    margin-top: 100px;
    height: 100px;
    width: 200px;
}