<section class="">
  <div class="container-fluid">
    <div class="contenido">
      <div class="form-group">
        <form
          action="mailto:gastonheinzportafolio1@gmail.com?
          &subject=Tema
          &body=Aquí se enviaría el texto directamente desde la pagina, pero para eso todavia necesito conocimientos backend
          "
          method="post"
          enctype="text/plain"
        >
          <div class="contenido">
            <h1>Mensaje</h1>
            <textarea class="form-control" name="" id="" cols="30" rows="10">
              Aquí se enviaria el texto directamente desde la pagina, pero para eso todavia necesito conocimientos back-end</textarea
            >
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
        <button type="submit" class="btn btn-primary volver" (click)="volverHome()">Volver</button>
      </div>
    </div>
  </div>
</section>
